// --- GLOBALS --- //

// font-size
$fs1: 11px; // smallest text
$fs2: 12px; // small text
$fs3: 13px; // normal text
$fs4: 14px; // normal slightly larger text
$fs5: 15px; // normal even slightly larger text
// font-weight
$fw1: 500;
// line-height
$lh1: 1.3em;

html {
  font-family: "YouTube Noto",Roboto,arial,sans-serif !important;
  &:not(.style-scope) {
    --paper-font-common-base_-_font-family: "YouTube Noto",Roboto,arial,sans-serif !important;
    // font size
    --ytd-thumbnail-attribution_-_font-size: $fs1 !important;
    --ytd-user-comment_-_font-size: $fs3 !important;
    --ytd-caption_-_font-size: $fs1 !important;
    --ytd-tab-system_-_font-size: $fs3 !important;
    --ytd-comment-link_-_font-size: $fs3 !important;
    // font weight
    --ytd-thumbnail-attribution_-_font-weight: $fw1 !important;
    --ytd-user-comment_-_font-weight: $fw1 !important;
    // line heights
    --ytd-thumbnail-attribution_-_line-height: 1.4em !important;
    --ytd-user-comment_-_line-height: $lh1 !important;
    --ytd-comment-link_-_line-height: $lh1 !important;
    // sizes, margins and paddings
    --ytd-masthead-height: 49px !important;
    --ytd-rich-grid-item-margin: 10px !important;
  }
}