// --- VIDEO PAGE --- //

ytd-expander.ytd-video-secondary-info-renderer {
  margin-left: 0 !important;
  border: none !important;
}

ytd-video-primary-info-renderer {
  padding: 15px !important;
  margin-top: 10px !important;
  border: none !important;
}

ytd-video-secondary-info-renderer {
  margin: 10px 0 !important;
  padding: 15px !important;
  border: none !important;
}

#top-row.ytd-video-secondary-info-renderer { padding-top: 0 !important; }
ytd-comments { border: none !important; }

paper-button.ytd-expander {
  width: 100% !important;
  margin: 0px 0 -15px !important;
}