$primary_bg: #f1f1f1; // site bg
$secondary_bg: #fff; // grid/shelves bg
$primary_text: #333;
$secondary_text: #767676;
$alt_text: #555;
$menu_text: #222;

$theme_red: #f00;
$theme_red_hover: #cc181e;
$theme_blue: #167ac6;

$accent_color: $theme_blue;
$accent_color_hover: #126db3;

$primary_border: #e2e2e2;
$secondary_border: #e8e8e8;

$guide_hover: #444;
$guide_active: $theme_red;

// dark colors
$primary_bg_dark: #0f0f0f;
$secondary_bg_dark: #212121;
$primary_text_dark: #c1c1c1;
$secondary_text_dark: #8f8f8f;
$alt_text_dark: #909090;

$theme_blue_dark: #1879c6;
$theme_red_dark: #cd1821;

$accent_color_dark: $theme_blue_dark;

$primary_border_dark: #1a1a1a;

$dark_button: #383838;