$primary_bg: #f1f1f1; // site bg
$secondary_bg: #fff; // grid/shelves bg
$primary_text: #333;
$secondary_text: #767676;
$alt_text: #555;

$theme_red: #f00;
$theme_blue: #167ac6;

$accent_color: $theme_blue;

$primary_border: #e2e2e2;
$secondary_border: #e8e8e8;

$guide_hover: #444;
$guide_active: $theme_red;