// Custom styles used for some of the extension options

// Nav app bar option
html:not([dark="true"]) {
  .ytcp-main-appbar {
    width: 100%;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    position: fixed;
    z-index: 2001;
    font-size: 13px;
    font-family: Roboto,arial,sans-serif;
  }
  .ytcp-nav-item {
    display: inline-block;
    margin-left: 30px;

    a {
      display:inline-block;
      color: #666;
      text-decoration: none;

      &:hover {
        box-shadow: inset 0 -3px #cc181e;
      }
    }
  }
  [page-subtype="home"] .ytcp-nav-home a {
    box-shadow:inset 0 -3px #cc181e;
    color: #333;
  }
  [page-subtype="trending"] .ytcp-nav-trending a {
    box-shadow: inset 0 -3px #cc181e;
    color: #333;
  }
  [page-subtype="subscriptions"] .ytcp-nav-subs a {
    box-shadow: inset 0 -3px #cc181e;
    color: #333;
  }
  .ytcp-appbar-nav {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }
}

html[dark="true"] {
  .ytcp-main-appbar {
    width: 100%;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background-color: var(--yt-spec-brand-background-primary);
    position: fixed;
    z-index: 2001;
    font-size: 13px;
    font-family: Roboto,arial,sans-serif;
    box-shadow: inset 0 1px #0f0f0f;
  }
  .ytcp-nav-item {
    display: inline-block;
    margin-left: 30px;

    a {
      display:inline-block;
      color: $secondary_text_dark;
      text-decoration: none;

      &:hover {
        box-shadow: inset 0 -3px #dcdcdc;
      }
    }
  }
  [page-subtype="home"] .ytcp-nav-home a {
    box-shadow:inset 0 -3px #dcdcdc;
    color: $primary_text_dark;
  }
  [page-subtype="trending"] .ytcp-nav-trending a {
    box-shadow: inset 0 -3px #dcdcdc;
    color: $primary_text_dark;
  }
  [page-subtype="subscriptions"] .ytcp-nav-subs a {
    box-shadow: inset 0 -3px #dcdcdc;
    color: $primary_text_dark;
  }
  .ytcp-appbar-nav {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }
}

// Load more button
.ytcp-load-more-button {
  margin: 20px auto;
  display: block;
  height: 28px;
  border-radius: 2px;
  cursor: pointer;
  font: 11px Roboto,arial,sans-serif;
  padding: 0 10px;
  font-weight: 500;
  outline: 0;
  &.ytcp-related { // related videos button
    margin: 0 auto !important;
  }
}
html {
  &:not([dark="true"]) .ytcp-load-more-button {
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    background-color: #f8f8f8;
    color: #333;
    &:hover {
      border-color: #c6c6c6;
      background-color: #f0f0f0;
      box-shadow: 0 1px 0 rgba(0,0,0,0.10);
    }
    &:active {
      border-color: #c6c6c6;
      background-color: #e9e9e9;
      box-shadow: inset 0 1px 0 #ddd;
    }
  }
  &[dark="true"] .ytcp-load-more-button {
    border: none;
    background-color: lighten($secondary_bg_dark, 5%);
    color: $primary_text_dark;
    &:hover {
      background-color: lighten($secondary_bg_dark, 8%);
    }
    &:active {
      background-color: lighten($secondary_bg_dark, 3%);
    }
  }
}
