ytd-rich-grid-renderer {
  @include for-size(tablet-portrait-up) {
    --ytd-rich-grid-items-per-row: 3 !important;
  }
  @include for-size(tablet-landscape-up) {
    --ytd-rich-grid-items-per-row: 3 !important;
  }
  @include for-size(desktop-up) {
    --ytd-rich-grid-items-per-row: 4 !important;
  }
  @include for-size(big-desktop-up) {
    --ytd-rich-grid-items-per-row: 6 !important;
  }
  @include for-size(bigger-desktop-up) {
    --ytd-rich-grid-items-per-row: 9 !important; // not tested
  }
}

ytd-two-column-browse-results-renderer {
  margin-top: 10px !important;
  @include for-size(tablet-portrait-up) {
    max-width: 482px !important;
  }
  @include for-size(tablet-landscape-up) {
    max-width: 642px !important;
  }
  @include for-size(desktop-up) {
    max-width: 856px !important;
  }
  @include for-size(big-desktop-up) {
    max-width: 1262px !important;
  }
  @include for-size(bigger-desktop-up) {
    max-width: 2200px !important; // not tested
  }
}

// thumbnail sizes

$small_tn_width: 196px;
$small_tn_height: 110px;
$large_tn_width: 210px;
$large_tn_height: 118px;

html:not(.style-scope) {
  --ytd-rich-grid-item-margin: 10px !important; // space between thumbnails
  @include for-size(tablet-portrait-up) {
    --ytd-grid-video-item_-_width: $small_tn_width !important;
    --ytd-grid-thumbnail_-_width: $small_tn_width !important;
    --ytd-grid-thumbnail_-_height: $small_tn_height !important;
    --ytd-thumbnail-height: $small_tn_height !important;
  }
  @include for-size(bigger-desktop-up) {
    --ytd-grid-video-item_-_width: $large_tn_width !important;
    --ytd-grid-thumbnail_-_width: $large_tn_width !important;
    --ytd-grid-thumbnail_-_height: $large_tn_height !important;
    --ytd-thumbnail-height: $large_tn_height !important;
  }
}

#grid-title.ytd-rich-grid-renderer { margin: 10px 0 0 10px !important; }
ytd-thumbnail.ytd-rich-grid-video-renderer { margin-bottom: 4px !important; }
#rich-shelf-header.ytd-rich-shelf-renderer { margin: 10px 0 10px 0px !important; }
#meta.ytd-rich-grid-video-renderer,#meta.ytd-grid-video-renderer { padding-right: 0 !important; }
ytd-rich-item-renderer { margin-bottom: 12px !important; }
h3.ytd-rich-grid-video-renderer,h3.ytd-grid-video-renderer { margin: 0 20px 0 0 !important; }

html {
  &:not([dark]) {
    ytd-rich-shelf-renderer { border-top: 1px solid $primary_border !important; }
    #show-more-button.ytd-rich-shelf-renderer,
    ytd-rich-shelf-renderer[is-show-more-hidden] #dismissable.ytd-rich-shelf-renderer { border-bottom: 1px solid $primary_border !important; }
  }
  &[dark] {
    ytd-rich-shelf-renderer { border-top: 1px solid $primary_border_dark !important; }
    #show-more-button.ytd-rich-shelf-renderer,
    ytd-rich-shelf-renderer[is-show-more-hidden] #dismissable.ytd-rich-shelf-renderer { border-bottom: 1px solid $primary_border_dark !important; }
  }
}