// colors for light theme
html {
  &:not([dark]) {
    app-drawer#guide, tp-yt-app-drawer {
      border-right: 1px solid $secondary_border !important;
    }
    #guide-section-title.ytd-guide-section-renderer {
      color: $theme_red !important;
    }

    ytd-guide-entry-renderer[active] .title.ytd-guide-entry-renderer,
    ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer {
      color: white !important;
    }

    ytd-guide-entry-renderer[active] > #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer,
    ytd-guide-entry-renderer[active] > #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover {
      background-color: $guide_active !important;
    }
    #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover {
      background-color: $guide_hover !important;
      color: white !important;
    }
    .title.ytd-guide-entry-renderer, .guide-icon.ytd-guide-entry-renderer {
      color: unset !important; // to make sure there's no delay when hovering
    }

    ytd-guide-entry-renderer[active] *> .title.ytd-guide-entry-renderer,
    ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer {
      text-shadow: -1px -1px 0 rgba(0,0,0,0.25) !important;
    }
  }
}

// sizes
ytd-app {
  --app-drawer-width: 230px !important;
}
ytd-guide-renderer.ytd-app, app-drawer.ytd-app:not([persistent]).ytd-app, #contentContainer.tp-yt-app-drawer {
  width: var(--app-drawer-width, 230px) !important;
}
app-drawer.ytd-app:not([persistent]).ytd-app, tp-yt-app-drawer.ytd-app:not([persistent]).ytd-app {
  border-right: none !important;
  box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1) !important;
}
#contentContainer.app-drawer, #scrim, app-drawer.ytd-app:not([persistent]).ytd-app, tp-yt-app-drawer {
  transition-duration: 0ms !important;
}
tp-yt-app-drawer, #contentContainer.tp-yt-app-drawer {
  transition-duration: none !important;
  transition-property: none !important;
  transform: none !important;
  max-width: 230px !important;
}
#scrim.tp-yt-app-drawer {
  transform: none !important;
  transition-property: none !important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer {
  min-height: 40px !important;
}
tp-yt-paper-item.ytd-guide-entry-renderer {
  height: 28px !important;
}
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer, #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer > tp-yt-paper-item {
  min-height: 28px !important;
}
.guide-icon.ytd-guide-entry-renderer {
  --iron-icon-height: 20px !important;
  --iron-icon-width: 20px !important;
}

// margins & paddings
#sections.ytd-guide-renderer > *.ytd-guide-renderer {
  padding: 13px 22px !important;
}
#guide-spacer.ytd-app {
  margin-top: 50px !important;
}
.guide-icon.ytd-guide-entry-renderer,yt-img-shadow.ytd-guide-entry-renderer {
  margin-right: 6px !important;
}
#guide-section-title.ytd-guide-section-renderer {
  padding: 1px 0 8px !important;
  margin: 0 5px !important;
}
tp-yt-paper-item.ytd-guide-entry-renderer {
  padding: 0 8px 0 8px !important;
}
ytd-app[mini-guide-visible_] ytd-page-manager.ytd-app {
  margin-left: 0 !important;
}

// fixes the playlist when mini guide is gone
ytd-browse[mini-guide-visible] ytd-playlist-sidebar-renderer.ytd-browse {
  left: 0 !important;
}

// misc
yt-img-shadow.ytd-guide-entry-renderer {
  border-radius: 0 !important;
}