html:not(.style-scope), ytd-app:not([masthead-hidden_]) {
  --ytd-masthead-height: 49px !important; // Plus 1px border = 50px
}

ytd-masthead.shell,#container.ytd-masthead,#header.ytd-app {
  height: 49px !important;
}
#container.ytd-masthead {
  max-height: 49px !important;
}
ytd-masthead:not([dark]) #container.ytd-masthead, ytd-masthead.shell {
  border-bottom: 1px solid $secondary_border !important;
}

html[dark] {
  #container.ytd-searchbox, #search-icon-legacy.ytd-searchbox {
    box-shadow: none !important;
    background-color: $dark_button !important;
    border: none !important;
  }
}

// Remove some effects
#masthead-container.ytd-app {
  transition: none !important;
}

// login button
html:not([dark]) {
  ytd-button-renderer.style-suggestive.ytd-masthead #button.ytd-button-renderer,
  #sign-in-button #button.ytd-button-renderer {
    height: 28px !important;
    padding: 0 10px !important;
    font-size: $fs1 !important;
    background-color: $accent_color !important;
    color: white !important;
    border: none !important;
    margin-top: 5px !important;
    &:hover, &:active {
      background-color: $accent_color_hover !important;
    }
    & > yt-formatted-string.ytd-button-renderer {
      margin-left: 0 !important;
    }
    & > yt-icon {
      display: none !important;
    }
  }

  .ytd-masthead button.yt-icon-button > yt-icon {
    opacity: .75 !important;
  }
}

// classic search form
#search-form.ytd-searchbox {
  height: 29px !important;
  max-width: 650px !important;
}

ytd-masthead #search-form.ytd-searchbox {
  margin-left: 16px !important;
}

tp-yt-app-drawer {
  ytd-topbar-logo-renderer yt-icon.ytd-topbar-logo-renderer {
    padding-left: 0 !important;
  }
}

#container.ytd-searchbox {
  border-radius: 0 !important;
}

#center.ytd-masthead {
  margin-right: auto !important;
} 

ytd-searchbox.ytd-masthead {
  margin: 0 0 0 25px !important;
}

// misc
#voice-search-button {
  background-color: transparent !important;
}