html:not(.style-scope) {
  --ytd-masthead-height: 49px !important; // Plus 1px border = 50px
}

ytd-masthead.shell,#container.ytd-masthead,#header.ytd-app { height: 49px !important; }
#container.ytd-masthead { max-height: 49px !important; }
ytd-masthead:not([dark]) #container.ytd-masthead, ytd-masthead.shell { border-bottom: 1px solid $secondary_border !important; }