// make sure scrolling is never disabled
body { overflow-y: auto !important; }

// display:none on a few elements that wasn't there in the old design
#avatar-link.ytd-rich-grid-video-renderer,
ytd-mini-guide-renderer.ytd-app,
paper-ripple,
ytd-compact-promoted-item-renderer,
#selectionBar.paper-tabs,
#thumbnail.ytd-moving-thumbnail-renderer,
#avatar.ytd-c4-tabbed-header-renderer,
.ytp-miniplayer-button,
[id*="skeleton"],
#play.fade-in.ytd-moving-thumbnail-renderer,
#play.show.ytd-moving-thumbnail-renderer,
#masthead-ad { display: none !important; }

// old pointer events on thumbnail details
#details.ytd-rich-grid-video-renderer {
  cursor: auto !important;
  pointer-events: none !important;
}
#details.ytd-rich-grid-video-renderer *> a, #details.ytd-rich-grid-video-renderer *> button.yt-icon-button {
  cursor: pointer !important;
  pointer-events: initial !important;
}

// avatars
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer,#avatar.ytd-video-owner-renderer,yt-img-shadow.ytd-mini-channel-renderer,#author-thumbnail.ytd-comment-simplebox-renderer { border-radius: 0 !important; }
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer {
  width: 48px !important;
  height: 48px !important;
}

// Buttons
paper-button.ytd-expander {
  width: 100% !important;
  margin: 0px 0 -15px !important;
}

html:not([dark]) {
  paper-button.ytd-expander {
    border-top: 1px solid $primary_border !important;
  }
  ytd-button-renderer.style-destructive[is-paper-button] {
    background-color: $theme_red !important;
    border-color: $theme_red !important;
    box-shadow: none !important;
    &:hover {
      background-color: $theme_red_hover !important;
    }
  }
}

#subscribe-button paper-button.ytd-button-renderer {
  padding: 0 8px !important;
  height: 24px !important;
  text-transform: none !important;
}

// TODO: Button color variables
html:not([dark]) {
  ytd-button-renderer.style-suggestive[is-paper-button] paper-button.ytd-button-renderer,
  //ytd-button-renderer.style-destructive[is-paper-button],
  ytd-button-renderer.style-compact-gray[is-paper-button] {
    border: 1px solid #d3d3d3 !important;
    background-color: #f8f8f8 !important;
    color: #333 !important;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05) !important;
    border-radius: 2px !important;
    text-transform: none !important;
    &:hover {
      background-color: #f0f0f0 !important;
      border-color: #c6c6c6 !important;
      box-shadow: 0 1px 0 rgba(0,0,0,0.10) !important;
    }
    &:active {
      background-color: #e9e9e9 !important;
      border-color: #c6c6c6 !important;
      box-shadow: inset 0 1px 0 #ddd !important;
    }
  }
}

// toggle button
.toggle-container.paper-toggle-button {
  width: 37px !important;
  height: 15px !important;
}

.toggle-button.paper-toggle-button {
  width: 13px !important;
  height: 13px !important;
  box-shadow: none !important;
  top: 1px !important;
  left: 1px !important;
}

paper-toggle-button[checked] .toggle-button.paper-toggle-button {
  left: 7px !important;
}

html:not([dark]) paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button {
  background-color: $accent_color !important;
  opacity: unset !important;
}

html:not([dark]) .toggle-bar.paper-toggle-button {
  background-color: #b8b8b8 !important;
  opacity: unset !important;
}
html:not([dark]) .toggle-button.paper-toggle-button {
  background-color: #fbfbfb !important;
}

// menu
html:not([dark]) ytd-multi-page-menu-renderer, .dropdown-content.paper-menu-button {
  border: 1px solid #c5c5c5 !important;
  border-top: 1px solid #c5c5c5 !important;
  box-shadow: 0 0 15px rgba(0,0,0,.18) !important;
}
#submenu.ytd-multi-page-menu-renderer ytd-multi-page-menu-renderer.ytd-multi-page-menu-renderer {
  border: none !important;
}
html:not([dark]) ytd-menu-popup-renderer {
  border: 1px solid #d3d3d3 !important;
  box-shadow: 0 2px 4px rgba(0,0,0,.2) !important;
  border-radius: 0 !important;
}