// Playlist (Not included yet because of bugs.)
@include for-size(tablet-portrait-up) {
  #container.ytd-playlist-panel-renderer {
    position: relative !important;
    right: 14px !important;
  }
}

@include for-size(big-desktop-up) {
  ytd-watch-flexy[flexy_][js-panel-height_] #playlist.ytd-watch-flexy, ytd-playlist-panel-renderer[js-panel-height_] #container.ytd-playlist-panel-renderer {
    min-height: var(--ytd-watch-flexy-min-player-height) !important;
    max-height: var(--ytd-watch-flexy-max-player-height) !important;
    border: none !important;
  }
  #playlist.ytd-watch-flexy {
    margin-bottom: 10px !important;
  }
  #container.ytd-playlist-panel-renderer {
    border: none !important;
    position: relative !important;
    right: 24px !important;
    width: $sidebar_width + 10px !important;
  }
  .header.ytd-playlist-panel-renderer {
    background-color: #1a1a1a !important;

    .title.ytd-playlist-panel-renderer,
    yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string:visited {
      &, a.yt-simple-endpoint.yt-formatted-string:hover {
        color: white !important;
        --yt-endpoint-color: white !important;
      }
    }
  }
  #video-title.ytd-playlist-panel-video-renderer,
  h4.ytd-playlist-panel-video-renderer {
    color: #cacaca !important;
    font-size: $fs3 !important;
  }
  .playlist-items.ytd-playlist-panel-renderer {
    background-color: #222 !important;
  }
  ytd-playlist-panel-video-renderer[selected][watch-color-update_] {
    background-color: #3a3a3a !important;
  }
  ytd-playlist-panel-video-renderer[watch-color-update_]:hover:not(.dragging) {
    background-color: #525252 !important;
  }
  #header-top-row.ytd-playlist-panel-renderer {
    border-bottom: 1px solid #3a3a3a !important;
    padding-bottom: 6px !important;
  }
  ytd-playlist-panel-video-renderer[watch-color-update_] #byline.ytd-playlist-panel-video-renderer,
  ytd-playlist-panel-video-renderer[watch-color-update_] #index.ytd-playlist-panel-video-renderer,
  ytd-playlist-panel-renderer[collapsible] .publisher.ytd-playlist-panel-renderer > a,
  .index-message-wrapper.ytd-playlist-panel-renderer,
  .publisher.ytd-playlist-panel-renderer:not(:empty) + .index-message-wrapper.ytd-playlist-panel-renderer::before,
  ytd-playlist-panel-renderer[has-playlist-buttons] #playlist-action-menu.ytd-playlist-panel-renderer ytd-toggle-button-renderer #button.ytd-toggle-button-renderer,
  #expand-button.ytd-playlist-panel-renderer {
    color: #8c8c8c !important;
  }
}