// Player sizes. Disabled becuase it's just too buggy.
#player.ytd-watch-flexy {
  background-color: black !important; // Make the video container black
}

// force 16:9 player
ytd-watch, ytd-watch-flexy {
  --ytd-watch-flexy-width-ratio: 1 !important;
  --ytd-watch-flexy-height-ratio: 0.5625 !important;
}

// Depending on the browser height (as it was before). The smaller the dock/panel/taskbar and browser toolbars, the larger the video gets.
@media (min-height: 800px) {
  ytd-watch-flexy[flexy_][is-two-columns_]:not([is-four-three-to-sixteen-nine-video_]):not([is-extra-wide-video_]) #primary.ytd-watch-flexy {
    max-width: 854px !important;
  }

  // Attempt to fit the video within the player
  .html5-video-player .video-stream {
    object-fit: contain !important;
    margin: 0 auto !important;
    display: block !important;
    left: 0 !important;
    position: unset !important;
    height: -webkit-fill-available !important;
    height: -moz-available !important;
  }

  ytd-watch-flexy[is-two-columns_][is-four-three-to-sixteen-nine-video_] #primary.ytd-watch-flexy {
    min-width: 854px !important;
    max-width: 854px !important;
    //max-height: 480px !important;
  }
  // center the player controls
  .ytp-chrome-bottom {
    //width: 854px - 24px !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
  }

  // attempt to fix the preview thumb
  //.ytp-tooltip.ytp-preview {
  //  top: 240px !important;
  //}
}
@media (min-height: 986px) {
  ytd-watch-flexy[flexy_][is-two-columns_][is-four-three-to-sixteen-nine-video_] #primary.ytd-watch-flexy {
    min-width: 1280px !important;
    max-width: 1280px !important;
    max-height: 720px !important;

    .html5-video-player .video-stream {
      object-fit: contain !important;
      margin: 0 auto !important;
      display: block !important;
      left: 0 !important;
      position: unset !important;
      height: -webkit-fill-available !important;
      height: -moz-available !important;
    }
  }
  //.ytp-chrome-bottom { width: 1280px - 24px !important; }
}