ytd-watch-flexy {
  @include for-size(big-desktop-up) {
    --ytd-watch-flexy-sidebar-width: 416px !important;
  }
}

#items.ytd-watch-next-secondary-results-renderer { padding: 10px !important; }
ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy, ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy { padding-top: 10px !important; }

//ytd-watch-flexy[flexy_] #primary.ytd-watch-flexy, ytd-watch-flexy[flexy_] #secondary.ytd-watch-flexy { padding-right: 10px !important; }
// Workaround: use positioning instead of padding to not mess up the player size at different screen sizes.
ytd-watch-next-secondary-results-renderer {
  position: relative !important;
  right: 14px !important;
}

ytd-watch-flexy[theater] #secondary.ytd-watch-flexy, ytd-watch-flexy[fullscreen] #secondary.ytd-watch-flexy { margin-top: 10px !important; }
#content.ytd-rich-section-renderer > *.ytd-rich-section-renderer { margin-bottom: 10px !important; }
ytd-comments { padding: 15px !important; }
ytd-comments-header-renderer { margin-top: 0 !important; }
#top-row.ytd-video-secondary-info-renderer { padding-top: 0 !important; }
ytd-expander.ytd-video-secondary-info-renderer { margin-left: 0 !important; }
ytd-video-secondary-info-renderer { margin: 10px 0 !important; padding: 15px !important; }
ytd-video-primary-info-renderer { padding: 15px !important; margin-top: 10px !important; }

// video like bar and buttons
ytd-sentiment-bar-renderer { padding-top: 13px !important; }
#menu.ytd-video-primary-info-renderer { top: 13px !important; }
ytd-video-primary-info-renderer { --yt-button-icon-size: 32px !important; }

html:not([dark]) {
  #like-bar.ytd-sentiment-bar-renderer { background: $accent_color !important; }
}

// Player sizes. Disabled becuase it's just too buggy.
//#player.ytd-watch-flexy { background-color: black !important; }
//@media (min-height: 800px) {
//  ytd-watch-flexy[flexy_][is-two-columns_][is-four-three-to-sixteen-nine-video_] #primary.ytd-watch-flexy { // FIXME: Does not work very well for non-widescreen videos
//    min-width: 854px !important;
//    max-width: 854px !important;
//  }
//  .ytp-chrome-bottom { width: 854px - 24px !important; } // FIXME: Seek area isn't adjusted to the new size, causing issues with the seeker
//  .html5-video-player .video-stream { // FIXME: Not a good idea to stretch the video
//    width: 854px !important;
//    height: 480px !important;
//  }
//}
//@media (min-height: 986px) {
//  ytd-watch-flexy[flexy_][is-two-columns_][is-four-three-to-sixteen-nine-video_] #primary.ytd-watch-flexy {
//    min-width: 1280px !important;
//    max-width: 1280px !important;
//  }
//  .ytp-chrome-bottom { width: 1280px - 24px !important; }
//  .html5-video-player .video-stream {
//    width: 1280px !important;
//    height: 760px !important;
//  }
//}