@media (prefers-color-scheme: light) {
  :root {
    --primary-color: 25, 118, 210;
    --secondary-color: #cfd8dc;
    --font-color: #333;
    --link-color: #01579b;
    --bg-color: #f1f1f1;
    --card-color: #fff;
    --warning-color: #ffcdd2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 25, 118, 210;
    --secondary-color: #cfd8dc;
    --font-color: #c1c1c1;
    --link-color: #29B6F6;
    --bg-color: #0f0f0f;
    --card-color: #212121;
    --warning-color: #b71c1c;
  }
}