@import url("colors.css");

body {
  background-color: var(--card-color);
  font-family:'Roboto',Arial,Helvetica,sans-serif;
  font-size: 14px;
  min-width: 350px;
}

::selection { background: transparent; }

#title {
  width: 100%
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

#title h1 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#container {
  display: flex;
  align-items: center;
}

#settings-button {
  background-color: rgba(var(--primary-color), 1);
  color: #fff;
  border: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  min-width: 140px;
  padding: 6px;
  margin: 32px auto;
  border-radius: 4px;
}

#settings-button:hover {
  background-color: rgba(var(--primary-color), 0.9);
}

#footer {
  display: flex;
  justify-content: space-between;
}